.video-image-mask{
	width:185px;
	height:100px;
	overflow:
	hidden;
}

.video-image-mask .video-image{
	width:105%;
}

.video-image-thumb{
    float: left;
}

.video-title a{
	font-weight:bold;
	font-size: 18px;
}
  
.data{
	float:left;
}
